<% provide(:title, 'All Users') %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>All Users</h2>

    <%= paginate @users %>

    <ul class="list-group">
        <%= render @users %>
    </ul>

    <%= paginate @users %>
  </div>
</div>
