<%= gravatar_for current_user, class: "avatar-large pull-left" %>
<div class="profile-stats">
  <h2><%= link_to current_user.name, current_user %></h2>
  <span>
    <%= link_to pluralize(current_user.microposts.count, "micropost"), current_user %>
  </span>
</div>
<div class="clearfix"></div>
