@import "bootstrap";

.site-footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 20px 0px;
  font-size: 1.1em;
  color: #999;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  margin-top: 40px;
}

#profile-sidebar {
  padding: 20px 10px;

  section {
    margin-bottom: 12px;
    h2 {
      font-size: 1.3em;
    }
  }
}

$avatar-width-default: 60px;
$avatar-height-default: 60px;
$avatar-width-large: 80px;
$avatar-height-large: 80px;

.avatar {
  width: $avatar-width-default;
  height: $avatar-height-default;
  border-radius: $avatar-width-default / 2;
}

.avatar-large {
  width: $avatar-width-large;
  height: $avatar-height-large;
  border-radius: $avatar-width-large / 2;
}

#error-messages {
  ul {
    color: #c00;
  }
}

.field_with_errors {
  @extend .has-error;
}

.form-header {
  text-align: center;
  margin-bottom: 24px;
}

.form-footer {
  text-align: center;
  margin-top: 24px;
  font-size: 1.2em;
}

.list-group-item {
  .user-info {
    margin-left: $avatar-width-default + 10px;
    font-size: 1.2em;
    .btn {
      margin-top: 13px;
    }
  }
}

.micropost-item {
  p {
    font-size: 1.2em;
  }
}

.timestamp {
  color: #888;
}

